# Ignore the virtual environment
venv/

# Ignore environment variable files
.env

# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore backend-specific files (if applicable)
backend/__pycache__/
backend/*.sqlite3
backend/*.log
